/*
 * File: index.css
 * Project: redux-resrm
 * File Created: Wednesday, 9th May 2018 12:36:45 pm
 * Author: geekrainy (geekrainy@gmail.com)
 * -----
 * Last Modified: Wednesday, 9th May 2018 12:51:44 pm
 * Modified By: geekrainy (geekrainy@gmail.com>)
 * -----
 * Copyright - 2018 https://rainylog.com, https://github.com/geekrainy
 */

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}